<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469431498973-majgosq9vc065hg47b4ri7kf9v5mr0nm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469431498973-majgosq9vc065hg47b4ri7kf9v5mr0nm</string>
	<key>API_KEY</key>
	<string>AIzaSyAlfmDMnHqicJERVFSePUsaKbFKj-jWLOU</string>
	<key>GCM_SENDER_ID</key>
	<string>469431498973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.iglesiacjc</string>
	<key>PROJECT_ID</key>
	<string>iglesiacjc</string>
	<key>STORAGE_BUCKET</key>
	<string>iglesiacjc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469431498973:ios:b5db985589658fb0318334</string>
</dict>
</plist>